<div id="contact">
<div id="contactform" style="display:inline; float:left; margin-right:2em">
	<h2>Contact us!</h2>
	<form>
		<label for="messagename"><strong>Name:</em></strong><br/> <input type="text" name="messagename" id="messagename" size="30" style="margin-bottom:5px"><br>
		<label for="messagesubject"><strong>Subject:</strong></label><br/> <input type="text" name="messagesubject" id="messagesubject" size="30" style="margin-bottom:5px"><br>
		<label for="messagebody"><strong>Message:</strong></label><br/> <textarea name="messagebody" id="messagebody" rows="7" cols="50" style="margin-bottom:5px"></textarea><br>
		<input type="submit" value="Submit">
	</form>
</div>

<div id="contactformblurb" style="display:inline">
	<p>This is a blurb about contacting us!  Something something questions and inquiries something something or just feel free to tell us we're awesome or whatev.  This is supposed to be friendly and encourage you to a.) actually use this and b.) not just send us hatemail or something like seriously who does that.</p>
	<br/>
	<p>Try to write a little bit longer so it fills up this extra space, because otherwise the formatting just looks weird and I don't feel like fixing it yet.  Sorry!</p>
	<br/>
	<p>Text text text text I'm sure there's text to fill this out.  I believe in you, future me (or future someone who's working on this).  This blurb is rocking, look at you writing this blurb.  You go, gurl.</p>
</div>
</div>
<hr/>
<div id="suborgcontact">
	<div id="computc-contact">
	<h2>COMPUTC</h2>
	<br/>
	
	<div style="clear:both; width:100%">
		<div style="display:inline; float:left">
			<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
		</div>
		
		<div style="display:inline; float:left; padding-left: 2em">
			<div style="height:100px">
				<h4>Rachel Frye
				<br/>
				Chairwoman
				<br/>
				rvfrye@gmail.com</h4>
			</div>	
			<br/>	
			<div style="clear:both; padding-top: 1em">
				Short bio.
			</div>
		</div>	
	</div>
	<br/>
	
	<div style="padding:100px"></div>
	<br/>
	
	
	<div style="clear:both; width:100%">
		<div style="display:inline; float:left">
			<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
		</div>
		
		<div style="display:inline; float:left; padding-left: 2em">
			<div style="height:100px">
				<h4>Rachel Frye
				<br/>
				Chairwoman
				<br/>
				rvfrye@gmail.com</h4>
			</div>	
			<br/>	
			<div style="clear:both; padding-top: 1em">
				<p>Short bio.  Your officer bio goes here!  Tell us your concentration, year, whatever (or that could go in the bit at the top).  I don't know how personal you want to get, I guess you could tell us what games you're currently addicted to on Steam or that you like to go bouldering or eat vegan or something?</p>
			</div>
		</div>	
	</div>
	<br/>
	
	<div style="padding:100px"></div>
	<br/>
	
	
	<div style="clear:both; width:100%">
		<div style="display:inline; float:left">
			<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
		</div>
		
		<div style="display:inline; float:left; padding-left: 2em">
			<div style="height:100px">
				<h4>Rachel Frye
				<br/>
				Chairwoman
				<br/>
				rvfrye@gmail.com</h4>
			</div>	
			<br/>	
			<div style="clear:both; padding-top: 1em">
				Short bio.
			</div>
		</div>	
	</div>
	<br/>
	
	<div style="padding:100px"></div>
	<br/>
	
	<hr/>
	
	<div id="tutoring-contact">
	<h2>TUTORING</h2>
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	</div>
	
	<hr/>
	
	<div id="cybersecurity-contact">
	<h2>CYBER SECURITY</h2>
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	</div>
	
	<hr/>
	
	<div id="robotics-contact">
	<h2>ROBOTICS</h2>
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	</div>
	
	<hr/>
	
	<div id="gamedev-contact">
	<h2>GAME DEV</h2>
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	</div>
	
	<hr/>
	
	<div id="competitions-contact">
	<h2>COMPETITIONS</h2>
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	</div>
	
	<hr/>
	
	<div id="webdesign-contact">
	<h2>WEB DESIGN</h2>
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	<br/>
	<img src="http://piq.codeus.net/static/media/userpics/piq_32387_400x400.png" height="100" width="100">
	</div>
</div>