<link href="home.style.css" rel="stylesheet" type="text/css"/>

...

<hr>

<div id="call-to-action">
	<a id="signup" href="/signup" class="button">Sign Up</a>
	<a id="login" href="/login" class="button">Log In</a>
</div>

<hr>

...