<link href="home.style.css" rel="stylesheet" type="text/css"/>

<div id="blurb">
	CompUTC is a group of computer science students here at the University of Tennessee at Chattanooga who strive do cool stuff, be it through robotics algorithms, game development, coding competitions, web design, and more!
</div>

<hr>

<div id="call-to-action">
	<a id="signup" href="/signup" class="button">Sign Up</a>
	<a id="login" href="/login" class="button">Log In</a>
</div>

<hr>

...