#panel
{
	padding: 0.5rem;
	
	color: #EEE;
	font-size: 24px;
	text-align: right;
	font-family: goldfish;
	
	background-color: #CC3333;
}

#panel > span > a
{
	color: inherit;
}

header
{
	color: #EEE;
	
	overflow: auto;
	
	background-size: cover;
	background-position: top;
	background-image: url("/imgs/chattanooga.jpg");
}

header > h1
{
	margin: 1rem;
}

header > h1 > img
{
	width: 100%;
	vertical-align: middle;
}

header > menu
{
	padding: 0px;
	margin: 1rem auto;
	text-align: center;
}

header > menu > a
{
	margin: auto 0.25rem;
	
	color: inherit;
	font-size: 1.5rem;
	white-space: nowrap;
	font-family: goldfish;
	text-decoration: none;
	text-shadow: 2px 2px #CC3333;
}

header > menu > a > .page-name
{
	text-decoration: underline;
}

@media(max-width: 826px)
{
	header > menu > a
	{
		font-size: 1.25rem;
	}
}