<link href="signup.style.css" rel="stylesheet" type="text/css"/>

<b>Signup!</b>

{{#if message}}
	<div>{{message}}</div>
{{/if}}

<form action="/signup" method="post">
	<div class="group">
		<label for="utc_id">UTC ID</label>
		<input name="utc_id" id="utc_id" type="text">
	</div>
	<div class="group">
		<label for="password">Password</label>
		<input name="password" id="password" type="password">
	</div>
	<div class="group">
		<label for="password_again">Password again</label>
		<input name="password_again" id="password-again" type="password">
	</div>
	<div class="group">
		<label for="first_name">First Name</label>
		<input name="first_name" id="first_name" type="text">
	</div>
	<div class="group">
		<label for="last_name">Last Name</label>
		<input name="last_name" id="last_name" type="text">
	</div>
	<input type="submit" value="Signup"/>
</form>

<div>
	Oh! You already have an account?
	<a href="/login">Click here to login!</a>
</div>