<link href="signup.style.css" rel="stylesheet" type="text/css"/>

{{#if message}}
	<div>{{message}}</div>
{{/if}}

<form action="/signup" method="post">
	<div class="group">
		<label for="utcid">UTC ID</label>
		<input name="utcid" id="utcid" type="text">
	</div>
	<div class="group">
		<label for="password">Password</label>
		<input name="password" id="password" type="password">
	</div>
	<div class="group">
		<label for="repassword">Password again</label>
		<input name="repassword" id="repassword" type="password">
	</div>
	<div class="group">
		<label for="firstname">First Name</label>
		<input name="firstname" id="firstname" type="text">
	</div>
	<div class="group">
		<label for="last_name">Last Name</label>
		<input name="lastname" id="lastname" type="text">
	</div>
	<input type="submit" value="Signup"/>
</form>

<div>
	Oh! You already have an account?
	<a href="/login">Click here to login!</a>
</div>