<link href="/tutoring.style.css" rel="stylesheet" type="text/css"/>

<h2>Get some Tutoring!</h2>

<p>
	Lorem ipsum dolor sit amet, libero turpis non cras ligula, id
	commodo, aenean est in volutpat amet sodales, porttitor bibendum
	facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis.
	Sollicitudin viverra, vel varius eget sit mollis. Commodo enim
	aliquam suspendisse tortor cum diam, commodo facilisis, rutrum et
	duis nisl porttitor, vel eleifend odio ultricies ut, orci in
	adipiscing felis velit nibh. Consectetuer porttitor feugiat
	vestibulum sit feugiat, voluptates dui eros libero. Etiam
	vestibulum at lectus.
</p>

<div style="text-align: center; margin-top: 1rem;"><!--ugh! inline styles?!-->
	<a class="button" href="/tutoring/requestion">Go to re:question!</a>
</div>