footer
{
	padding: 1em;
	
	color: #EEE;
	background-color: #CC3333;
}

footer > small
{
	margin: auto;
	display: block;
	width: 50%;
	min-width: 17em;
	max-width: 24em;
	
	font-size: 12px;
	line-height: 1em;
	text-align: center;
}