@import url("/fonts/font-awesome.css");
@import url("/fonts/goldfish.css");
@import url("/fonts/open-sans.css");

*
{
	margin: 0px;
}

html
{
	color: #080808;
	font-size: 18px;
	font-family: open-sans, calibri, sans-serif;
	
	background-color: #F8F8F8;
	background-image: url("/images/grey.png");
}

body
{
	margin: auto;
	min-width: 306px;
	max-width: 1186px;
	overflow-x: hidden;
}

#content
{
	padding: 2rem;
}

h2
{
	font-size: 2rem;
	text-align: center;
	font-family: goldfish;
}

/*hr
{
	width: 50%;
	min-width: 180px;
	margin: 1.5rem auto;
	
	border: none;
	border-top-width: 3px;
	border-top-style: dashed;
	border-top-color: #080808;
}*/

p
{
	text-indent: 2rem;
}