footer
{
	padding: 1rem;
	
	color: #EEE;
	background-color: #CC3333;
}

footer > small
{
	margin: auto;
	display: block;
	max-width: 20rem;
	
	font-size: 0.75rem;
	text-align: center;
	line-height: 1.2em;
}