#panel
{
	padding: 0.5rem;
	margin-bottom: 1.5rem;
	
	color: #EEE;
	font-size: 24px;
	text-align: right;
	font-family: goldfish;
	
	background-color: #CC3333;
}

#panel > span > a
{
	color: inherit;
}