header
{
	color: #EEE;
	background-color: #C33;
}

header > nav
{
	text-align: right;
	font-size: 1.4rem;
	line-height: 2.5rem;
	font-family: goldfish;
	
	white-space: nowrap;
	padding-right: 0.8rem;
}

header > nav > a
{
	color: inherit;
}

header > div
{
	overflow: auto;
	
	background-size: cover;
	background-position: top;
	background-image: url("/images/chattanooga.jpg");
}

header > div > h1
{
	margin: 1rem;
}

header > div > h1 > img
{
	width: 100%;
	vertical-align: middle;
}

header > div > menu
{
	padding: 0px;
	margin: 1rem auto;
	text-align: center;
}

header > div > menu > a
{
	margin: auto 0.25rem;
	
	color: inherit;
	font-size: 1.5rem;
	white-space: nowrap;
	font-family: goldfish;
	text-decoration: none;
	text-shadow: 2px 2px #CC3333;
}

header > div > menu > a > .page-name
{
	text-decoration: underline;
}

@media(max-width: 826px)
{
	header > div > menu > a
	{
		font-size: 1.25rem;
	}
}