.call-to-action
{
	text-align: center;
	margin-bottom: 1.5rem;
}

.button
{
	color: #F8F8F8;
	text-decoration: none;
	
	padding: 0.5rem;
	display: inline-block;
	
	border-radius: 0.25rem;
	background-color: #CC3333;
}