.join-us
{
	width: 100%;
	display: block;
	margin: 1rem auto;
	position: relative;
}

.join-us > img
{
	width: 100%;
	border-radius: 0.25rem;
}

.join-us > .button
{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	width: 6.5rem;
	height: 2.25rem;
	position: absolute;
	
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}