#profile
{
	width: 9rem;
	margin: auto;
	padding: 0.5rem;
	position: relative;
	background-color: #D6D9E0;
}

#profile > img
{
	width: 9rem;
}

#profile > hr
{
	min-width: 100%;
	margin: 0.25rem 0rem;
}

#profile > ul
{
	padding: 0rem;
	list-style-type: none;
}

#profile > ul > li > a
{
	color: inherit;
	text-decoration: none;
}

#profile > ul > li > a > span.label
{
	text-decoration: underline;
}