form > .group
{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

form > .group > label
{
	cursor: pointer;
	font-family: goldfish;
}

form > .group > input[type=text],
form > .group > input[type=password],
form > .group > select
{
	width: 100%;
	padding: 0.5em;
	box-sizing: border-box;
	
	border-width: 1px;
	border-color: #111;
	border-style: solid;
	border-radius: 0.25rem;
	
	font-size: inherit;
	font-family: inherit;
	
	transition: border-color 0.3s ease;
}

form > .group > input[type=text]:focus,
form > .group > input[type=password]:focus,
form > .group > select:focus
{
	outline: none;
	border-color: #CC3333;
}

form > input[type=submit]
{
	display: block;
	margin: 1em auto;
	padding: 0.5em 1.5em;
	
	border: none;
	border-radius: 3px;
	
	color: #EEE;
	cursor: pointer;
	font-size: inherit;
	font-family: inherit;
	background-color: #C33333;
}