<!DOCTYPE html>

<html>
	<head>
		<title>CompUTC</title>
		<meta charset="UTF-8"/>
		
		<link href="fonts/fontawesome.css" rel="stylesheet" type="text/css"/>
		<link href="fonts/goldfish.css" rel="stylesheet" type="text/css"/>
		<link href="home.style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		
		<header>
			<a id="logo" href="home">CompUTC</a>
			<a id="goto" href="home"><span class="fa fa-home"></span>Home</a>
			<a id="goto" href="about"><span class="fa fa-smile-o"></span>About</a>
			<a id="goto" href="events"><span class="fa fa-calendar"></span>Events</a>
			<a id="goto" href="contact"><span class="fa fa-comment-o"></span>Contact</a>
		</header>
		
		<div id="container">
			
			<section id="content">

{{{body}}}

			</section>
		
			<section id="navigation">
				
				<div class="category">
					<b>Suborgs</b>
					<a>Tutoring Initative</a>
					<a>Cyber Security</a>
					<a>Robotics Simulations</a>
					<a>Game Development</a>
					<a>Coding Competitions</a>
					<a>Web Development</a>
				</div>
				
				<div class="category">
					<b>Resources</b>
					<a>Curriculum Advice</a>
					<a>Career Opportunities</a>
				</div>
				
				<div class="category">
					<b>Navigation</b>
					<a>Home</a>
					<a>About</a>
					<a>Events</a>
					<a>Contact</a>
				</div>
				
			</section>
			
		</div>
		
		<footer>
			
			<small>
				Why are you reading
				this at the bottom
				of the page?
			</small>
			
		</footer>
		
	</body>
</html>