<!DOCTYPE html>

<html>
	<head>
		<title>CompUTC</title>
		<meta charset="UTF-8"/>
		
		<link href="fonts/fontawesome.css" rel="stylesheet" type="text/css"/>
		<link href="fonts/goldfish.css" rel="stylesheet" type="text/css"/>
		
		<link href="default.layout.style.css" rel="stylesheet" type="text/css"/>
		<link href="default.layout.header.style.css" rel="stylesheet" type="text/css"/>
		<link href="default.layout.container.style.css" rel="stylesheet" type="text/css"/>
		<link href="default.layout.footer.style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		
		<div id="frame">
			
			<header>
				
				<div id="user">
					{{#if user}}
						<div id="logout">
							<b>
								Welcome, {{user.name}}!
							</b>
							<a href="/logout">
								Logout?
							</a>
						</div>
					{{else}}
						<form id="login">
							<div class="credential">
								<label for="username">Username:</label>
								<input type="text" id="username"/>
							</div>
							<div class="credential">
								<label for="password">Password:</label>
								<input type="password" id="password"/>
							</div>
						</form>
					{{/if}}
				</div>
				
				<div id="title">
					<a href="/">CompUTC</a>
				</div>
				
				<div id="navigation">
					<a href="/">
						<span class="fa fa-home"></span>
						<span class="pagetitle">Home</span>
					</a>
					<a href="/about">
						<span class="fa fa-smile-o"></span>
						<span class="pagetitle">About</span>
					</a>
					<a href="/events">
						<span class="fa fa-calendar"></span>
						<span class="pagetitle">Events</span>
					</a>
					<a href="/contact">
						<span class="fa fa-comment-o"></span>
						<span class="pagetitle">Contact</span>
					</a>
				</div>
				
			</header>
			
			<div id="container">
				
				<div id="content">
					{{{body}}}
				</div>
			
				<div id="menu">
					
					<ul>
						<li>
							<b>Suborgs</b>
						</li>
						<li>
						</li>
						<li>
							<a href="/">
								<span class="fa fa-cogs"></span>
								<span class="pagetitle">Tutoring</span>
							</a>
						</li>
						<li>
							<a href="/">
								<span class="fa fa-lock"></span>
								<span class="pagetitle">Cyber Security</span>
							</a>
						</li>
						<li>
							<a href="/">
								<span class="fa fa-cube"></span>
								<span class="pagetitle">Robotics</span>
							</a>
						</li>
						<li>
							<a href="/">
								<span class="fa fa-gamepad"></span>
								<span class="pagetitle">Game Dev</span>
							</a>
						</li>
						<li>
							<a href="/">
								<span class="fa fa-code"></span>
								<span class="pagetitle">Competitions</span>
							</a>
						</li>
						<li>
							<a href="/">
								<span class="fa fa-cloud"></span>
								<span class="pagetitle">Web Design</span>
							</a>
						</li>
						<li>
					</ul>
					
					<ul>
						<li>
							<b>Links</b>
						</li>
						<li>
							<a target="_blank" href="http://www.utc.edu/computer-science">
								<span class="fa fa-university"></span>
								<span class="pagetitle">UTC CompSci Page</span>
							</a>
						</li>
						<li>
							<a target="_blank" href="http://www.computer.org/">
								<span class="fa fa-asterisk"></span>
								<span class="pagetitle">IEEECS Website</span>
							</a>
						</li>
					</ul>
					
					<ul>
						<li>
							<b>Pages</b>
						</li>
						<li>
							<a href="/">
								<span class="fa fa-home"></span>
								<span class="pagetitle">Home</span>
							</a>
						</li>
						<li>
							<a href="/about">
								<span class="fa fa-smile-o"></span>
								<span class="pagetitle">About</span>
							</a>
						</li>
						<li>
							<a href="/events">
								<span class="fa fa-calendar"></span>
								<span class="pagetitle">Events</span>
							</a>
						</li>
						<li>
							<a href="/contact">
								<span class="fa fa-comment-o"></span>
								<span class="pagetitle">Contact</span>
							</a>
						</li>
					</ul>
					
				</div>
				
			</div>
			
			<footer>
				
				<small>
					Gee! You read all the way to the bottom of the page!
					You must have a lot of time to waste on the internet. :D
				</small>
				
			</footer>
			
		</div>
		
	</body>
</html>