<!DOCTYPE html>

<html>
	<head>
		<title>CompUTC</title>
		<meta charset="UTF-8"/>
		
		<link href="default.layout.style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body style="padding: 2em">
		
		{{{body}}}
		
	</body>
</html>