<div class="blurb">
CompUTC is a student organization at UT Chattanooga. CompUTC consists 6 suborganizations of varying intrests for students to meet others, discuss ideas, and improve their skills. In addition to the events each suborganization hosts, CompUTC holds events such as tech talks, departmental orientations, field trips, and end-of-semester parties. 

<hr>
<div class="Officers"><table>
<th>CompUTC Officers</th>
<tr>
<td>Chair</td>
<td>Rachel Frye</td>
</tr>
<tr>
<td>Vice Chair</td>
<td>Andrew McPherson</td>
</tr>
<tr>
<td>Secertary</td>
<td>Matthew Jallouk</td>
</tr>
<tr>
<td>Treasurer</td>
<td>David Tulis</td>
</tr>
<tr>
<td>Historian</td>
<td>Sarah Hall</td>
</tr>
</table>
<br><br>
<table>
<th>Sub-Organization Officers</th>
<tr>
<td><u>Tutoring</u></td>
</tr>
<td>Chair</td>
<td>Hailey Grogan</td>
</tr>
<tr>
<td><u>Cyber Security</u></td>
</tr>
<td>Chair</td>
<td>Conner Stephens</td>
</tr>
<tr>
<td><u>Robotics</u></td>
</tr>
<td>Chair</td>
<td>Keelan Carpenter</td>
</tr>
<tr>
<td><u>Game Dev</u></td>
</tr>
<td>Chair</td>
<td>Forrest Pruitt</td>
</tr>
<tr>
<td>Vice Chair</td>
<td>Paul Muren</td>
</tr>
<tr>
<td><u>Competitions</u></td>
</tr>
<td>Chair</td>
<td>Rachel Frye</td>
</tr>
<tr>
<td><u>Web Dev</u></td>
</tr>
<td>Chair</td>
<td>Andrew McPherson</td>
</tr>
</table></div>
<hr>
<div class="About">
<img src="\imgs\officer profiles\rachel frye.jpg"; style="vertical-align:middle;" width=100px; height=100px; >
<span style=""><b><u>Rachel Frye</b></u> - stuff about rachel.
</span>
<p>
<b><u>Andrew McPherson</b></u> - stuff about andrew.
<p>
<b><u>Matthew Jallouk</b></u> - stuff about matt.
<p>
<b><u>David Tulis</b></u> - david.
<p>
<b><u>Sarah Hall</b></u> - stuff about sarah.
<p>
<b><u>Hailey Grogan</b></u> - hailey.
<p>
<b><u>Conner Stephens</b></u> - stuff about conner.
<p>
<b><u>Keelan Carpenter</b></u> - stuff about keelan.
<p>
<b><u>Forrest Pruitt</b></u> - stuff about forrest
<p>
<b><u>Paul Muren</b></u> - stuff about paul

</div>
