<link href="contact.style.css" rel="stylesheet" type="text/css"/>

<div id="contact">
<div id="contactform">
	<h2>Contact us!</h2>
	<form>
		<label for="messagename"><strong>Name:</em></strong><br/> <input type="text" name="messagename" id="messagename" size="30" style="margin-bottom:5px"><br>
		<label for="messageemail"><strong>Email:</em></strong><br/> <input type="text" email="messageemail" id="messageemail" size="30" style="margin-bottom:5px"><br>
		<label for="messagesubject"><strong>Subject:</strong></label><br/> <input type="text" name="messagesubject" id="messagesubject" size="30" style="margin-bottom:5px"><br>
		<label for="messagebody"><strong>Message:</strong></label><br/> <textarea name="messagebody" id="messagebody" rows="8" cols="50" style="margin-bottom:5px"></textarea><br>
		<input type="submit" value="Submit">
	</form>
</div>

<div id="contactformblurb">
	<p>Say hey!  Got questions or inquiries?  Requests?  Interested in getting more involved in CompUTC?  Just feel like telling us we're awesome?  If you aren't sure who to get in contact with or just want to send something to CompUTC's officers in general, use this form to hit us up, and we'll get back to you as soon as we can.</p>
	<p>If you're looking for someone specific (or want to add us on your favorite social networking sites), check down below to find a list of our officers' individual contact information.</p>
	
</div>
</div>
<hr/>
<div id="suborgcontact">
	<div id="computc-contact">
	<h2>CompUTC</h2>
	<br/>
	
	<div class="contactblock">
		<div class="contactpic">
			<img src="\imgs\officer profiles\rachel frye.jpg" height="100" width="100">
		</div>
		
		<div class="contactinfo">
				<h4>Rachel Frye
				<br/>
				Chair
				<br/>
				rvfrye@gmail.com</h4>
			</div>	
			
			<div class="sociallinks">
			<span class="fa fa-twitter-square"></span>
			<a href="https://www.facebook.com/rachel.v.carney"><span class="fa fa-facebook-square"></span></a>
			<a href="https://github.com/rvfrye"><span class="fa fa-github-square"></span></a>
			<br/>
			<a href="https://www.linkedin.com/pub/rachel-frye/63/574/246"><span class="fa fa-linkedin-square"></span></a>
			<span class="fa fa-youtube-square"></span>
			<span class="fa fa-steam-square"></span>
			</div>
			<br/>	
	</div>
	<br/>
	
	<div class="innerbreak"></div>
	<br/>
	
	
	<div class="contactblock">
		<div class="contactpic">
			<img src="\imgs\officer profiles\andrew mcpherson.jpg" height="100" width="100">
		</div>
		
		<div class="contactinfo">
				<h4>Andrew McPherson
				<br/>
				Vice Chair
				<br/>
				andrewmcp333@gmail.com</h4>
			</div>	
			
			<div class="sociallinks">
			<span class="fa fa-twitter-square"></span>
			<a href="https://www.facebook.com/andrew.mcpherson.161"><span class="fa fa-facebook-square"></span></a>
			<a href="https://github.com/Arcym"><span class="fa fa-github-square"></span></a>
			<br/>
			<a href="https://www.linkedin.com/pub/andrew-mcpherson/47/208/107"><span class="fa fa-linkedin-square"></span></a>
			<span class="fa fa-youtube-square"></span>
			<a href="http://steamcommunity.com/profiles/76561198040564273"><span class="fa fa-steam-square"></span></a>
			</div>
			<br/>	
	</div>
	<br/>
	
	<div class="innerbreak"></div>
	<br/>
	
	
	<div class="contactblock">
		<div class="contactpic">
			<img src="\imgs\officer profiles\matthew jallouk.jpg" height="100" width="100">
		</div>
		
		<div class="contactinfo">
				<h4>Matthew Jallouk
				<br/>
				Secretary
				<br/>
				vln357@mocs.utc.edu</h4>
			</div>	
			
			
			<div class="sociallinks">
			<span class="fa fa-twitter-square"></span>
			<a href="https://www.facebook.com/matthew.jallouk"><span class="fa fa-facebook-square"></span></a>
			<span class="fa fa-github-square"></span>
			<br/>
			<span class="fa fa-linkedin-square"></span>
			<span class="fa fa-youtube-square"></span>
			<span class="fa fa-steam-square"></span>
			</div>
			<br/>	
	</div>
	<br/>
	
	<div class="innerbreak"></div>
	<br/>
	
	<div class="contactblock">
		<div class="contactpic">
			<img src="\imgs\officer profiles\david tulis.jpg" height="100" width="100">
		</div>
		
		<div class="contactinfo">
				<h4>David Tulis
				<br/>
				Treasurer
				<br/>
				davidjtulis@gmail.com</h4>
			</div>	
			
			<div class="sociallinks">
			<span class="fa fa-twitter-square"></span>
			<a href="https://www.facebook.com/KnowledgeJunkie"><span class="fa fa-facebook-square"></span></a>
			<span class="fa fa-github-square"></span>
			<br/>
			<span class="fa fa-linkedin-square"></span>
			<span class="fa fa-youtube-square"></span>
			<span class="fa fa-steam-square"></span>
			</div>
			<br/>	
	</div>
	<br/>
	
	<div class="innerbreak"></div>
	<br/>
	
	<div class="contactblock">
		<div class="contactpic">
			<img src="\imgs\officer profiles\sarah hall.jpg" height="100" width="100">
		</div>
		
		<div class="contactinfo">
				<h4>Sarah Hall
				<br/>
				Historian
				<br/>
				jgg529@tennessee.edu</h4>
			</div>	
			
			<div class="sociallinks">
			<span class="fa fa-twitter-square"></span>
			<a href="https://www.facebook.com/sarah.hall.31149"><span class="fa fa-facebook-square"></span></a>
			<span class="fa fa-github-square"></span>
			<br/>
			<span class="fa fa-linkedin-square"></span>
			<span class="fa fa-youtube-square"></span>
			<span class="fa fa-steam-square"></span>
			</div>
			<br/>	
	</div>
	<br/>
	
	<div class="groupbreak"></div>
	<br/>
	
	<hr/>
	
	<div id="tutoring-contact">
	<h2>Tutoring</h2>
	<br/>
	
	<div class="contactblock">
		<div class="contactpic">
			<img src="\imgs\officer profiles\hailey grogan.jpg" height="100" width="100">
		</div>
		
		<div class="contactinfo">
				<h4>Hailey Grogan
				<br/>
				Chair
				<br/>
				pzm954@mocs.utc.edu</h4>
			</div>	
			
			<div class="sociallinks">
			<span class="fa fa-twitter-square"></span>
			<a href="https://www.facebook.com/HLGrogan"><span class="fa fa-facebook-square"></span></a>
			<a href="https://github.com/hlgrogan"><span class="fa fa-github-square"></span></a>
			<br/>
			<a href="https://www.linkedin.com/pub/hailey-grogan/96/958/b48"><span class="fa fa-linkedin-square"></span></a>
			<span class="fa fa-youtube-square"></span>
			<a href="http://steamcommunity.com/profiles/76561198054882493/"><span class="fa fa-steam-square"></span></a>
			</div>
			<br/>	
	</div>
	<br/>
	
	<div class="groupbreak"></div>
	<br/>
	
	<hr/>
	
	<div id="cybersecurity-contact">
	<h2>Cyber Security</h2>
	<br/>
	
	<div class="contactblock">
		<div class="contactpic">
			<img src="\imgs\officer profiles\conner stephens.jpg" height="100" width="100">
		</div>
		
		<div class="contactinfo">
				<h4>Conner Stephens
				<br/>
				Chair
				<br/>
				fsf291@mocs.utc.edu</h4>
			</div>	
			
			<div class="sociallinks">
			<span class="fa fa-twitter-square"></span>
			<a href="https://www.facebook.com/conner.stephens.503"><span class="fa fa-facebook-square"></span></a>
			<span class="fa fa-github-square"></span>
			<br/>
			<span class="fa fa-linkedin-square"></span>
			<span class="fa fa-youtube-square"></span>
			<span class="fa fa-steam-square"></span>
			</div>
			<br/>	
	</div>
	<br/>
	
	<div class="groupbreak"></div>
	<br/>
	
	<hr/>
	
	<div id="robotics-contact">
	<h2>Robotics</h2>
	<br/>
	
	<div class="contactblock">
		<div class="contactpic">
			<img src="\imgs\officer profiles\keelan carpenter.jpg" height="100" width="100">
		</div>
		
		<div class="contactinfo">
				<h4>Keelan Carpenter
				<br/>
				Chair
				<br/>
				keelancarpenter@gmail.com</h4>
			</div>	
			
			<div class="sociallinks">
			<span class="fa fa-twitter-square"></span>
			<a href="https://www.facebook.com/squarebomb"><span class="fa fa-facebook-square"></span></a>
			<span class="fa fa-github-square"></span>
			<br/>
			<span class="fa fa-linkedin-square"></span>
			<span class="fa fa-youtube-square"></span>
			<span class="fa fa-steam-square"></span>
			</div>
			<br/>	
	</div>
	<br/>
	
	<div class="groupbreak"></div>
	<br/>
	
	<hr/>
	
	<div id="gamedev-contact">
	<h2>Game Dev</h2>
	<br/>
	
	<div class="contactblock">
		<div class="contactpic">
			<img src="\imgs\officer profiles\forrest pruitt.jpg" height="100" width="100">
		</div>
		
		<div class="contactinfo">
				<h4>Forrest Pruitt
				<br/>
				Chair
				<br/>
				fpruitt0922@gmail.com</h4>
			</div>	
			
			<div class="sociallinks">
			<span class="fa fa-twitter-square"></span>
			<a href="https://www.facebook.com/forrest.pruitt"><span class="fa fa-facebook-square"></span></a>
			<span class="fa fa-github-square"></span>
			<br/>
			<a href="https://www.linkedin.com/pub/forrest-pruitt/48/993/b13"><span class="fa fa-linkedin-square"></span></a>
			<span class="fa fa-youtube-square"></span>
			<span class="fa fa-steam-square"></span>
			</div>
			<br/>	
	</div>
	<br/>
	
	<div class="innerbreak"></div>
	<br/>
	
	
	<div class="contactblock">
		<div class="contactpic">
			<img src="\imgs\officer profiles\paul muren.jpg" height="100" width="100">
		</div>
		
		<div class="contactinfo">
				<h4>Paul Muren
				<br/>
				Vice Chair
				<br/>
				paulmuren@gmail.com</h4>
			</div>	
			
			<div class="sociallinks">
			<span class="fa fa-twitter-square"></span>
			<a href="https://www.facebook.com/muren"><span class="fa fa-facebook-square"></span></a>
			<span class="fa fa-github-square"></span>
			<br/>
			<a href="https://www.linkedin.com/pub/paul-muren/6b/9/73b"><span class="fa fa-linkedin-square"></span></a>
			<span class="fa fa-youtube-square"></span>
			<span class="fa fa-steam-square"></span>
			</div>
			<br/>	
	</div>
	<br/>
	
	<div class="groupbreak"></div>
	<br/>
	
	<hr/>
	
	<div id="competitions-contact">
	<h2>Competitions</h2>
	<br/>
	
	<div class="contactblock">
		<div class="contactpic">
			<img src="\imgs\officer profiles\rachel frye.jpg" height="100" width="100">
		</div>
		
		<div class="contactinfo">
				<h4>Rachel Frye
				<br/>
				Chair
				<br/>
				rvfrye@gmail.com</h4>
			</div>	
			
			<div class="sociallinks">
			<span class="fa fa-twitter-square"></span>
			<a href="https://www.facebook.com/rachel.v.carney"><span class="fa fa-facebook-square"></span></a>
			<a href="https://github.com/rvfrye"><span class="fa fa-github-square"></span></a>
			<br/>
			<a href="https://www.linkedin.com/pub/rachel-frye/63/574/246"><span class="fa fa-linkedin-square"></span></a>
			<span class="fa fa-youtube-square"></span>
			<span class="fa fa-steam-square"></span>
			</div>
			<br/>	
	</div>
	<br/>
	
	<div class="groupbreak"></div>
	<br/>
	
	<hr/>
	
	<div id="webdesign-contact">
	<h2>Web Design</h2>
	<br/>
	
	<div class="contactblock">
		<div class="contactpic">
			<img src="\imgs\officer profiles\andrew mcpherson.jpg" height="100" width="100">
		</div>
		
		<div class="contactinfo">
				<h4>Andrew McPherson
				<br/>
				Chair
				<br/>
				andrewmcp333@gmail.com</h4>
			</div>	
			
			<div class="sociallinks">
			<span class="fa fa-twitter-square"></span>
			<a href="https://www.facebook.com/andrew.mcpherson.161"><span class="fa fa-facebook-square"></span></a>
			<a href="https://github.com/Arcym"><span class="fa fa-github-square"></span></a>
			<br/>
			<a href="https://www.linkedin.com/pub/andrew-mcpherson/47/208/107"><span class="fa fa-linkedin-square"></span></a>
			<span class="fa fa-youtube-square"></span>
			<a href="http://steamcommunity.com/profiles/76561198040564273"><span class="fa fa-steam-square"></span></a>
			</div>
			<br/>	
	</div>
	<br/>
	
	<div class="innerbreak"></div>
	<br/>
</div>