<link href="home.style.css" rel="stylesheet" type="text/css"/>

<div id="blurb">
	CompUTC is a group of computer science students here at the
	University of Tennessee at Chattanooga who want to do cool
	stuff! If you are interested in getting involved, browse
	through some of the activities we organize, and try to join
	whatever you're curious about! If nothing else, it will be
	a great opportunity to meet with others.
</div>

<hr>

<div id="call-to-action">
	<a id="signup" href="/signup" class="button"><b>Sign Up</b></a>
	<a id="login" href="/login" class="button"><b>Log In</b></a>
</div>

<hr>

<div id="schedule">
	<b>Upcoming Events</b>
	<div class="event">
		<span class="date">13/25/2014</span>
		<span class="name">Freshman Orientation</span>
		<span class="location">EMCS301</span>
		<span class="time">12pm</span>
	</div>
	<div class="event">
		<span class="date">13/29/2014</span>
		<span class="name">Get on Board Day</span>
		<span class="location">Breezeway</span>
		<span class="time">11am - 1pm</span>
	</div>
	<div class="event">
		<span class="date">14/31/2014</span>
		<span class="name">GameDev Design Techtalk</span>
		<span class="location">EMCS312</span>
		<span class="time">2pm</span>
	</div>
	<div class="event">
		<span class="date">14/37/2014</span>
		<span class="name">IEEECS Registration Meeting</span>
		<span class="location">EMCS301</span>
		<span class="time">12pm</span>
	</div>
</div>