<div class="group">
	<label for="email">Email</label>
	<input name="email" id="email" type="text">
</div>
<div class="group">
	<label for="major">UTC Major</label>
	<select id="major" name="major">
		<option value="CompSci InfoSec">Computer Science, Information Security</option>
		<option value="CompSci SciApps">Computer Science, Scientific Applications</option>
		<option value="CompSci StemEd">Computer Science, Technology Education</option>
		<option value="CompSci SoftSyst">Computer Science, Software Systems</option>
		<option value="CompEngr">Computer Engineering</option>
		<option value="PreCompSci">Pre Computer Science</option>
		<option value="Other">None of these</option>
	</select>
</div>
<div class="group">
	<label for="graduation">UTC Graduation</label>
	year and season of graduation, or pffft i've already graduated.
</div>