<!DOCTYPE html>

<html>
	<head>
		<title>CompUTC</title>
		<meta charset="UTF-8"/>
		
		<link href="/default.style.css" rel="stylesheet" type="text/css"/>
		<link href="/default.layout.style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		
		<header>
			<h1>
				<a href="/">
					<img src="/images/logo.svg" alt="CompUTC"/>
				</a>
			</h1>
			<div>
				{{#if user}}
					<span>
						<a href="/profile/{{user.utc_id}}">{{user.first_name}}</a>
						<a href="/logout">Logout</a>
					</span>
				{{else}}
					<span>
						<a href="/signup">Signup</a> or 
						<a href="/login">Login</a>!
					</span>
				{{/if}}
				<span class="fa fa-bars"></span>
			</div>
		</header>
		
		<div id="body">
			{{{body}}}
		</div>
		
	</body>
</html>