<!DOCTYPE html>

<html>
	<head>
		<title>CompUTC</title>
		<meta charset="UTF-8"/>
		
		<link href="/css/default.style.css" rel="stylesheet" type="text/css"/>
		<link href="/css/default.fonts.css" rel="stylesheet" type="text/css"/>
		<link href="/default.header.layout.style.css" rel="stylesheet" type="text/css"/>
		<link href="/default.footer.layout.style.css" rel="stylesheet" type="text/css"/>
		
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width"/>
	</head>
	<body>
		
		<header>
			<h1>
				<a href="/">
					<img src="/imgs/logo.svg" alt="CompUTC"/>
				</a>
			</h1>
			<div>
				{{#if user}}
					<span>
						<a href="/profile/{{user.utcid}}">{{user.firstname}}</a>
						<a href="/logout">Logout</a>
					</span>
				{{else}}
					<span>
						<a href="/signup">Signup</a> or 
						<a href="/login">Login</a>!
					</span>
				{{/if}}
				<a href="#">
					<span class="fa fa-bars"></span>
				</a>
			</div>
		</header>
		
		<div id="content">
			{{{body}}}
		</div>
		
		<footer>
			<small>
				Gee! You read all the way to the bottom of the page!
				You must have a lot of time to waste on the internet.
			</small>
		</footer>
		
	</body>
</html>