*
{
	margin: 0px;
}

body
{
	background-color: #EEEEE7;
}

header
{
	text-align: center;
	
	padding: 8px;
}

header > a#logo
{
	color: #333;
	font-size: 20vw;
	font-weight: bold;
	letter-spacing: -2px;
	font-family: goldfish;
	text-decoration: none;

	display: block;	
	margin-bottom: 24px;
}

header > a#goto
{
	color: #4A7B6F;
	font-size: 24px;
	white-space: nowrap;
	font-family: goldfish;

	margin: 8px;
}

header > a > .fa
{
	margin-right: 8px;
}

hr
{
	width: 50%;
	min-width: 320px;
	margin: 24px auto;
	
	border: none;
	border-top-width: 3px;
	border-top-color: #333;
	border-top-style: dashed;
}

@media(max-width: 640px)
{
	header > a#logo
	{
		margin-bottom: 8px;
	}
	
	hr
	{
		margin: 8px auto;
	}
}