header > #panel
{
	padding: 8px;
	
	font-size: 24px;
	line-height: 1em;
	text-align: right;
	font-family: goldfish;
	
	background-color: #F5DA3F;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

header > #panel   a
{
	color: inherit;
}

header > #banner
{
	margin: 2em auto;
}

header > #banner > a
{
	display: block;
	
	color: #111;
	font-size: 19vw;
	font-weight: bold;
	text-align: center;
	letter-spacing: -2px;
	font-family: goldfish;
	text-decoration: none;
}

header > #menu
{
	text-align: center;
}

header > #menu > a
{
	margin: auto 0.25em;
	
	color: #CC3333;
	font-size: 1.5em;
	white-space: nowrap;
	font-family: goldfish;
	text-decoration: none;
}

header > #menu > a > .pagename
{
	text-decoration: underline;
}

@media(min-width: 1188px)
{
	header > #banner > a
	{
		font-size: 227px;
	}
}

@media(max-width: 826px)
{
	header > #banner
	{
		margin: 1em auto;
	}
	
	header > #menu > a
	{
		font-size: 1.25em;
	}
}

@media(max-width: 302px)
{
	header > #banner > a
	{
		font-size: 58px;
	}
}