#container
{
	position: relative;
}

#content
{
	padding: 0em 2em;
	margin: 2em 10em;
	min-height: 25.5em;
}

.menu
{
	top: 0px;
	width: 8em;
	bottom: 0px;
	padding: 1em;
	position: absolute;
	
	background-color: #F5DA3F;
}

#left.menu
{
	left: 0px;
	
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#right.menu
{
	right: 0px;
	
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.menu > ul
{
	padding: 0px;
	list-style: none;
}

.menu > ul:not(:last-child)
{
	margin-bottom: 2em;
}

.menu > ul > li > b
{
	font-size: 1.5em;
	white-space: nowrap;
	font-family: goldfish;
}

.menu > ul > li > a
{
	color: #CC3333;
	white-space: nowrap;
	text-decoration: none;
}

.menu > ul > li > a > .pagename
{
	text-decoration: underline;
}

@media(min-width: 1186px)
{
	.menu
	{
		border-radius: 4px;
	}
}

@media(max-width: 1006px)
{
	#content
	{
		margin-right: auto;
	}
	
	#right.menu
	{
		width: auto;
		display: block;
		position: static;
		line-height: 1em;
		
		text-align: center;
		
		border-radius: 0px;
	}
	
	#right.menu > ul > li
	{
		display: inline;
		margin: auto 0.25em;
	}
	
	#right.menu > ul > li:first-child
	{
		display: none;
	}
	
	#left.menu
	{
		bottom: 5em;
	}
}

@media(max-width: 826px)
{
	#content
	{
		margin: 1em 0em;
		padding: 0em 1em;
		min-height: inherit;
	}
	
	#left.menu
	{
		width: 100%;
		display: table;
		padding: 1em 0em;
		position: static;
		table-layout: fixed;
		
		border-radius: 0px;
	}
	
	#left.menu > ul
	{
		margin-bottom: auto;
		display: table-cell;
		
		text-align: center;
	}
}