header > #user
{
	padding: 8px;
	
	font-size: 24px;
	line-height: 1em;
	text-align: right;
	font-family: goldfish;
	
	background-color: #F5DA3F;
}

header > #user > #logout > a
{
	color: inherit;
}

header > #user > #login > .credential
{
	margin-left: 8px;
	display: inline-block;
}

header > #user > #login > .credential > input
{
	padding: 3px;
	border: none;
	width: 100px;
	line-height: 18px;
	vertical-align: top;
	font-family: calibri;
}

header > #title
{
	margin: 2em auto;
}

header > #title > a
{
	display: block;
	
	color: #111;
	font-size: 19vw;
	font-weight: bold;
	text-align: center;
	letter-spacing: -2px;
	font-family: goldfish;
	text-decoration: none;
}

header > #navigation
{
	text-align: center;
}

header > #navigation  > a
{
	margin: auto 4px;
	
	color: #CC3333;
	font-size: 1.5em;
	white-space: nowrap;
	font-family: goldfish;
	text-decoration: none;
}

header > #navigation  > a > .pagetitle
{
	text-decoration: underline;
}

@media(min-width: 1280px)
{
	header > #title > a
	{
		font-size: 246px;
	}
}

@media(max-width: 640px)
{
	header > #title
	{
		margin-top: 1em;
		margin-bottom: 0.5em;
	}
}

@media(max-width: 320px)
{
	header > #title > a
	{
		font-size: 64px;
	}
}