@import url("fonts/fontawesome.css");
@import url("fonts/goldfish.css");

*
{
	margin: 0px;
}

body
{
	margin: auto;
	min-width: 306px;
	max-width: 1186px;
	overflow-x: hidden;
	
	color: #111;
	font-size: 18px;
	font-family: calibri;
	
	background-color: #F8F8F8;
}

hr
{
	width: 50%;
	min-width: 180px;
	margin: 1.5em auto;
	
	border: none;
	border-top-width: 3px;
	border-top-color: #111;
	border-top-style: dashed;
}