*
{
	margin: 0px;
}

html
{
	height: 100%;
}

body
{
	height: 100%;
	
	color: #111;
	font-family: calibri;
	
	background-color: #F8F8F8;
}

#frame
{
	margin: auto;
	min-height: 100%;
	min-width: 320px;
	max-width: 1280px;
}

hr
{
	width: 50%;
	min-width: 180px;
	margin: 1.5em auto;
	
	border: none;
	border-top-width: 3px;
	border-top-style: dashed;
	border-top-color: #111;
}

@media(max-width: 640px)
{
	#content > hr
	{
		margin: 1em auto;
	}
}