#blurb
{
	text-align: center;
}

#call-to-action
{
	height: 3em;
	overflow: hidden;
	position: relative;
	border-radius: 3px;
}

#call-to-action > .button
{
	top: 0px;
	padding: 1em;
	display: block;
	line-height: 1em;
	position: absolute;
	
	color: #FFF;
	text-align: center;
	font-family: goldfish;
	text-decoration: none;
}

#call-to-action > #signup.button
{
	left: 0px;
	right: 50%;
	
	background-color: #3952A6;
}

#call-to-action > #login.button
{
	left: 50%;
	right: 0px;
	
	background-color: #CC3333;
}

#schedule > b
{
	display: block;
	
	font-size: 28px;
	text-align: center;
	font-family: goldfish;
}

#schedule > .event
{
	margin: 1em 0px;
}