<html>
	<head>
		<style>
			html
			{
				font-size: 18px;
			}
			
			div:not(:first-child)
			{
				margin-top: 1rem;
			}
			
			div:not(:last-child)
			{
				margin-bottom: 1rem;
			}
		</style>
	<head>
	<body>
		<div>
			Hey, {{firstname}}! Welcome to CompUTC! Etsy doostang
			zoodles disqus groupon greplin oooj voxy zoodles, weebly
			ning heekya handango imeem plugg dopplr jibjab, movity
			jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo
			kaboodle quora plaxo ideeli hulu weebly balihoo kno vimeo
			zlio voxy zinch twones zoodles joost, sococo zynga imvu
			imeem stypi lijit bubbli flickr mog sococo greplin bebo.
		</div>
		<div>
			To activate your account, go to http://www.computc.org/profile/{{utcid}}/verify/{{token}}.
			You will be redirected to your profile, where you can add more details about yourself!
		</div>
		<div>
			Again, thanks again for joining! I'm sure we'll you around the EMCS. :]
		</div>
	</body>
</hmtl>